<html>
    <head>
        <title>

        </title>
    </head>
    <body>
        {{msg}}
        {% block content %}
        <div>
            <table><br>
                {% for order in my_orders %}
                <tr>
                    <td><h2> quantity : </h2></td>
                    <td><h2>{{ order['order_quantity'] }}</h2></td>
                </tr>
                <a href="{{url_for('givereview',product_id=order['product_id'])}}">give review</a>
                {% endfor %}

            </table>
        </div>
    {% endblock %}
    </body>
</html>