<html>
    <head>
        <title>

        </title>
    </head>
    <body>
        {{msg}}
        {% block content %}
        <div>
            <table><br>
                {% for product in products %}
                <tr>
                    <td><h2> name: </h2></td>
                    <td><h2>{{ product['product_name'] }}</h2></td>
                </tr>
                <tr>
                    <td><h2>it is :  </h2></td>
                    <td><h2>{{ product['product_type'] }}</h2></td>
                </tr>
                <tr>
                    <td><h2>cost :  </h2></td>
                    <td><h2>{{ product['cost'] }}</h2></td>
                </tr>
                <a href="{{url_for('orders',product_id=product['product_id'])}}">order</a>
                <a href="{{url_for('add_to_cart',product_id=product['product_id'])}}">add ot cart</a>
                {% endfor %}

            </table>
        </div>
    {% endblock %}
    </body>
</html>