<html>
    <head>
        <meta charset="UTF-8">
        <title> Login </title>
        
    </head>
    <body>
      
              <form action="{{ url_for('signin')}}" method="post" autocomplete="off"><br>
            <div >{{ msg }}</div>
            <input type="text" name="user_id" placeholder="Enter Your id"  required><br><br>
            <input type="password" name="password" placeholder="Enter Your Password"  required><br><br>
            <input type="submit"  value="Login">
              </form>
              <a href="{{url_for('signup')}}">signup</a>
             

           
    </body>
</html>